<h2>Loading and Saving Data</h2>
<p>The base of any analysis is read and write data:</p>
The following are the functions

In [ ]:
pd.read_csv(): Import the data from a CSV file.
pd.to_csv(): save the data to a CSV file.
pd.read_excel / pd.to_excel: works with Excel files.
pd.read_sql(): access data by SQL databases.

<h2>Exploring the Data</h2>
You need quickly understand your dataset:

In [ ]:
df.head(): view the first rows
df.tail: view the last rows
df.info(): get information about the dataset, including info about its data types as well as non-null counts.
df.describe(): Summary statistics of numeric columns.

<h2>Accessing Data</h2>

In [ ]:
df['column_name']: Accessing one column.
df [['col1', 'col2']]: Accessing more than one column.
.loc[]: Accessing rows or columns by labels.
iloc[]: Accessing rows or columns by index position.

<h2>Dealing with Missing Data</h2>
Missing data is the most common problem :

In [ ]:
df.isnull(): Access missing values
df.fillna(value): Replaces missing values using a value
df.dropna(): Deletes rows/columns containing missing values

<h2>Filtering and Sorting</h2>
Filtering rows in one line of code becomes pretty easy:

In [ ]:
df [df ['column'] > value]: Filter rows to condition
df.sort_values (by='column'): Order rows by column.

<h2>Grouping and Aggregation</h2>
Summarize data

In [ ]:
df.groupby('column').mean(): Group by a column and compute mean.
df.agg({'col1': 'sum', 'col2': 'mean'}): Aggregate on multiple columns.

<h2>Merging and Joining</h2>
Merging of datasets

In [ ]:
pd.merge(df1, df2, on='key'): Merge two DataFrames based on a key column.
pd.concat([df1, df2]): Concatenate DataFrames row-wise or column-wise.

<h2>Reshaping Data</h2>

In [ ]:
df.pivot(): Transmogrify the shape of data, reshape columns and rows.
df.melt(): Transform wide data into long data.

<h2>Data Transformation</h2>

In [ ]:
df['new_col'] = df['col1'] + df['col2']: Add new columns
df.apply(func, axis=1): Custom function to rows or columns.

<h2>Date Operations</h2>

In [ ]:
pd.to_datetime(df['date_col']) : Converts strings to datetime objects.
df['date_col'].dt.year : Fetches year from a column of datetime